/* pages/productDetail/productDetail.wxss */
.product-detail {
  .m-product-item {
    width: 100%;
    border: none;
    margin-bottom: 60rpx;
    pointer-events: none; // 禁止跳转事件

    .title {
      font-size: 46rpx !important;
    }

    .intro .item {
      font-size: 36rpx !important;
    }
  }

}