/* pages/search/search.wxss */
.search-btn {
  color: #fff;
  margin: 0 30rpx;
}

.history {
  margin: 30rpx;
  font-size: 30rpx;
  color: #666;

  .title,
  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .right {
    color: #999;

    .desc {
      margin-left: 5rpx;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    margin: 30rpx 0;

    .item {
      background: var(--globalBgColor2);
      color: #333;
      font-size: 30rpx;
      padding: 8rpx 25rpx;
      margin: 0 20rpx 20rpx 0;
      border-radius: 5rpx;
    }
  }
}

.products {
  margin: 30rpx;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .total {
    width: 690rpx;
    margin-bottom: 30rpx;
    font-size: 28rpx;
    color: #666;
    .num {
      color: var(--themeColor);
    }
  }
}