/* components/m-header/m-header.wxss */
.m-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15rpx 30rpx;
  border-bottom: 1px solid var(--themeColor);

  .logo {
    width: 240rpx;
  }

  .search {
    font-size: 50rpx;
    font-weight: bold;
    color: var(--themeColor);
  }
}